<!-- <ng-container *ngIf="node.selfClosingTag; else notSelfClosing">
  <p>{{'\< '+ node.tagProperties.tagName +' level = '+ node.level+' />'}}</p>
  <ng-container *ngIf="node.next && node.next.level === node.level">
    <app-query-node-tag [node]="node.next"></app-query-node-tag>
  </ng-container>
</ng-container>

<ng-template #notSelfClosing>
  <p>{{'\< '+ node.tagProperties.tagName+' level = '+ node.level+ ' >'}}</p>
  <ng-container *ngIf="!node.next || node.next.level <= node.level; else elseBlock">
    <p>{{'\</ '+ node.tagProperties.tagName + ' >'}}</p>
  <ng-container *ngIf="node.next">
      <app-query-node-tag [node]="node.next"></app-query-node-tag>
  </ng-container>
  </ng-container>
  
  <ng-template #elseBlock>
    <ng-container *ngIf="node.next">
      <app-query-node-tag [node]="node.next"></app-query-node-tag>
      <p>{{'\</ '+ node.tagProperties.tagName + ' >'}}</p>
    </ng-container>
  </ng-template>

</ng-template>
 -->
