<div class="tree-container">
  <div class="button-block"></div>

  <div class="tree">
    <div *ngFor="let node of dataSource$ | async">

      <div *ngIf="node&&node.expandable&&node.visible">
        <div appNodeStyle [appPadding]="node.level" class="tree-node parent-node-element">
          <a (click)="node.toggleNode()">
            <mat-icon class="arrow-icon">
              {{node.isExpanded ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </a>
          <div class="node-element-select-area" (click)="selectNode(node)"
            [ngClass]="{active: this.nodeTree.selectedNode===node, inactive: this.nodeTree.selectedNode!==node}">
            <mat-icon class="tree-element-icon">
            </mat-icon>
            <p class="small prevent-select">{{node.name}}.{{node.level}} o.{{node.order}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="node&&!node.expandable&&node.visible">
        <div appNodeStyle [appPadding]="node.level" class="tree-node">
          <a></a>
          <div class="node-element-select-area" (click)="selectNode(node)"
            [ngClass]="{active: this.nodeTree.selectedNode===node, inactive: this.nodeTree.selectedNode!==node}">
            <mat-icon class="tree-element-icon">
            </mat-icon>
            <p class="small prevent-select">{{node.name}}.{{node.level}} o.{{node.order}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>