<app-quick-actions [selectedNode]="selectedNode" (onNodeCreate)="this.onNodeCreate.emit($event)"></app-quick-actions>

<app-loading-indicator [diameter]="50"></app-loading-indicator>
<mat-form-field>
  <mat-label>Entity</mat-label>
  <input type="text" matInput [formControl]="entitiesFormControl" [matAutocomplete]="auto"
    (keyup)="onKeyPressed($event)">

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredEntities$ | async" [value]="option.logicalName">
      {{option.logicalName+ ' ' + option.displayName}}

    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field>
  <mat-label>Alias</mat-label>
  <input type="text" matInput [formControl]="aliasFormControl">
</mat-form-field>