app-tree-panel{
  height: 100%;
}
app-tree-panel .tree-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-tree-panel .button-block {
  display: flex;
  height: 40px;
  background-color: #e9e9e9;
}
app-tree-panel .tree-root {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

app-tree-panel .example-tree-invisible {
  display: none;
}

app-tree-panel .example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}


app-tree-panel .example-tree-node {
  display: block;
}

app-tree-panel .node-element-select-area {
 
  cursor: pointer;
  display: flex;
}


app-tree-panel .active {
  background-color: rgb(0, 153, 255) !important;
}

app-tree-panel .active>p {
  color: white;
}


app-tree-panel .inactive {
  background-color: rgb(255, 255, 255);
}

app-tree-panel .node-element-select-area:hover {
  background-color: #e6e6e6;
  
}


app-tree-panel p {
  display: flex;
  flex:1;
padding-top:2px;
padding-bottom: 2px;
}




app-tree-panel a {
  float: left;
  width: 16px;
  height: 16px;
  padding-top:2px;
padding-bottom: 2px;
}

app-tree-panel .tree-element-icon {
  float: left;
  width: 16px;
  height: 16px;
  overflow: visible;
  font-size:medium;
}

app-tree-panel .parent-node-element {
  padding-top: 3px;
  padding-bottom: 3px;
}

app-tree-panel .arrow-icon {
  color: rgb(131, 131, 131);
  font-size: 16px;
}

app-tree-panel .arrow-icon:hover {
  cursor: pointer;
}

app-tree-panel .mat-icon {
  height: 16px;
  width: 16px;
}


.example-tree-node .example-tree-node {
  padding-left: 10px;
}






/* app-tree-panel .tree-container {
    display: flex;
    flex-direction: column;

}

app-tree-panel .button-block {
    display: flex;
    height: 40px;
    background-color: #e9e9e9;
}




app-tree-panel .node-content-wrapper {
    display: flex;
    flex: 1;
}

app-tree-panel .node-content-wrapper-active,
.node-content-wrapper-focused,
.node-content-wrapper:hover {
    box-shadow: none;
}

app-tree-panel .node-content-wrapper-active,
.node-content-wrapper.node-content-wrapper-active:hover,
.node-content-wrapper-active.node-content-wrapper-focused {
    background: #0262ef;
}

app-tree-panel .node-wrapper{
    padding-left:5px !important;
}

app-tree-panel .node-wrapper:has(>.node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover,.node-content-wrapper-active.node-content-wrapper-focused){
    background: #0262ef;
}

app-tree-panel .node-wrapper:has(>.node-content-wrapper-focused, .node-content-wrapper:hover){
    background: #e9ecef;
}


app-tree-panel .node-content-wrapper:hover, .node-content-wrapper-focused {
    background: #e9ecef;
}

app-tree-panel .ng-star-inserted {
    font-size: .85rem;
    font-weight: 500;
}

app-tree-panel .node-content-wrapper-active>* {
    color: white;
    font-weight: 300;
}

app-tree-panel .toggle-children-wrapper {
    padding: 0px;
    margin-left: 1px;
}



tree-node-expander .toggle-children {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIAoKZD0iTTYuNTkxOTUgMC43MjIyNzZDNS43NDAwMyAxLjYxNzkzIDUuODE2NzYgMi45OTc0NyA2Ljc2MzM0IDMuODAzNTZMMTYuMzg4MyAxMkw2Ljc2MzM0IDIwLjE5NjRDNS44MTY3NiAyMS4wMDI1IDUuNzQwMDMgMjIuMzgyMSA2LjU5MTk1IDIzLjI3NzdDNy40NDM4NyAyNC4xNzM0IDguOTAxODQgMjQuMjQ2IDkuODQ4NDIgMjMuNDM5OUwxOS40NzM0IDE1LjI0MzVDMjEuNTA4OSAxMy41MSAyMS41MDg5IDEwLjQ5IDE5LjQ3MzQgOC43NTY1NEw5Ljg0ODQyIDAuNTYwMTAzQzguOTAxODQgLTAuMjQ1OTg4IDcuNDQzODcgLTAuMTczMzgxIDYuNTkxOTUgMC43MjIyNzZaIgoKZmlsbD0iYmxhY2siLz4KPC9zdmc+);
}

tree-node-expander .toggle-children-wrapper-expanded .toggle-children {
    transform: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMy4yNzc3IDYuNTkxOTVDMjIuMzgyMSA1Ljc0MDAzIDIxLjAwMjUgNS44MTY3NiAyMC4xOTY0IDYuNzYzMzRMMTIgMTYuMzg4M0wzLjgwMzU3IDYuNzYzMzRDMi45OTc0NyA1LjgxNjc2IDEuNjE3OTMgNS43NDAwMiAwLjcyMjI4IDYuNTkxOTVDLTAuMTczMzc3IDcuNDQzODcgLTAuMjQ1OTg0IDguOTAxODQgMC41NjAxMDggOS44NDg0Mkw4Ljc1NjU0IDE5LjQ3MzRDMTAuNDkgMjEuNTA4OSAxMy41MSAyMS41MDg5IDE1LjI0MzUgMTkuNDczNEwyMy40Mzk5IDkuODQ4NDJDMjQuMjQ2IDguOTAxODQgMjQuMTczNCA3LjQ0Mzg3IDIzLjI3NzcgNi41OTE5NVoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=);
}



.node-content-wrapper, .tree-children {
    position: relative;
  }
  
  .node-content-wrapper::before, .tree-children::after {
    content: "";
    position: absolute;
  }
  
  .node-content-wrapper::before {
    border-bottom: 1px solid rgb(228, 228, 228);
    border-left: 1px solid rgb(228, 228, 228);
    height: 28px;
    top: -17px;
    width: 10px;

    left: -28px;
  }
  
  .tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
    display: none;
  }
  
  .tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
    width: 25px;
  }
  
  .tree-children::after {
    border-left: 1px solid rgb(228, 228, 228);
    height: 100%;
    top: -15px;
    left: -15px;
  }
  
  tree-node:last-child > .tree-node > .tree-children::after {
    border-left: none;
  }
  
  .toggle-children {
    z-index: 1;
  } */