
:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.view-container {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;    
    flex-direction: column;
    align-items: stretch;
  }

  @media (max-width: 960px) {
    .main-section {
        width: auto;
    }
  }