
.container {
  min-width: var(--min-width);
  width: var(--width);

  min-height: var(--min-height);
  height: var(--height);

  display: flex;
  flex-direction: column;

}

.view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 960px) {
  .main-section {
    width: auto;
  }
}

