<div class="fetch-parent-content">
  <as-split direction="horizontal" gutterSize="2">
    <as-split-area [size]="20" order="1" minSize="10">
      

      <as-split direction="vertical" gutterSize="2">
        <as-split-area [size]="65" order="3" minSize="30">
          <app-left-top-section></app-left-top-section>
        </as-split-area>
        <as-split-area [size]="35" order="4" minSize="20">
          <app-left-bottom-section></app-left-bottom-section>
        </as-split-area>
      </as-split>


    </as-split-area>
    <as-split-area [size]="80" order="2" minSize="30">
      <app-right-section></app-right-section>
    </as-split-area>
  </as-split>
</div>