<div *ngIf="selectedNode$ | async as selected; else elseBlock">
    
    <div [ngSwitch]="selected.type">
        <app-entity-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.ENTITY' (onNodeCreate)="createNode($event)"></app-entity-form>
        <app-root-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.ROOT'  (onNodeCreate)="createNode($event)"></app-root-form>
        <app-attribute-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.ATTRIBUTE'  (onNodeCreate)="createNode($event)"></app-attribute-form>
        <app-filter-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.FILTER'  (onNodeCreate)="createNode($event)"></app-filter-form>
    </div>

</div>

<ng-template #elseBlock>
    <div>no data</div>
</ng-template>