<ng-container *ngIf="selectedNode$ | async as selected; else elseBlock">
    
    <ng-container [ngSwitch]="selected.type">
        <app-entity-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.ENTITY'></app-entity-form>
        <app-root-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.ROOT' ></app-root-form>
        <app-attribute-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.ATTRIBUTE'></app-attribute-form>
        <app-filter-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.FILTER'></app-filter-form>
        <app-filter-condition-form [selectedNode]="selected" *ngSwitchCase='nodeTypes.CONDITION'></app-filter-condition-form>
        <app-link-entity-form [selectedNode]="selected" *ngSwitchCase='nodeTypes.LINK'></app-link-entity-form>        
        <app-order-form [selectedNode]="selected" *ngSwitchCase='nodeTypes.ORDER'></app-order-form>
    </ng-container>

</ng-container>

<ng-template #elseBlock>
    <div>no data</div>
</ng-template>