<div *ngIf="selectedNode$ | async as selected; else elseBlock">
    
    <!-- <ng-template [appQueryFormFactory] [type]="selected.type" [selectedNode]="selected" (onNodeCreate)="createNode($event)"></ng-template> -->
    
    <div [ngSwitch]="selected.type">
        <app-entity-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.ENTITY' (onInputChange)="setEntityName($event)" (onNodeCreate)="createNode($event)"></app-entity-form>
        <app-root-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.ENTITY' (onInputChange)="setEntityName($event)" (onNodeCreate)="createNode($event)"></app-root-form>
    </div>

</div>

<ng-template #elseBlock>
    <div>no data</div>
</ng-template>