<app-quick-actions [selectedNode]="selectedNode" (onNodeCreate)="this.onNodeCreate.emit($event)"></app-quick-actions>

<mat-form-field>
  <mat-label>Filter type</mat-label>
  <mat-select [ngModel]="selectedNode.tagProperties.filterType.value$| async"
    (ngModelChange)="selectedNode.tagProperties.filterType.value$.next($event)">
    <mat-option>--</mat-option>
    <mat-option *ngFor="let type of filterTypeOptions" [value]="type.value">
      {{type.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-checkbox [ngModel]="selectedNode.tagProperties.filterIsQuickFind.value$ | async"
  (ngModelChange)="selectedNode.tagProperties.filterIsQuickFind.value$.next($event)">Is quick find</mat-checkbox>

<mat-checkbox [ngModel]="selectedNode.tagProperties.filterOverrideRecordLimit.value$| async"
  (ngModelChange)="selectedNode.tagProperties.filterOverrideRecordLimit.value$.next($event)">Apply quick find record limit</mat-checkbox>

<mat-checkbox [ngModel]="selectedNode.tagProperties.filterBypassQuickFind.value$ | async"
  (ngModelChange)="selectedNode.tagProperties.filterBypassQuickFind.value$.next($event)">Bypass quick find record limit</mat-checkbox>