<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>


<ng-container *ngIf="{name: (selectedNode.getParentEntity().tagProperties.entityName.constructorValue$|async)} as entity">
  <mat-form-field>

    <mat-label>Attribute name</mat-label>
    <input type="text" matInput [formControl]="attributeForm.formControl" [matAutocomplete]="attributeAutoComplete"
      (input)="onInputChanged($event, attributeForm)">

    <mat-autocomplete #attributeAutoComplete="matAutocomplete">
      <mat-option *ngFor="let option of attributeForm.filteredValues$ | async" [value]="option.logicalName">
        {{option.logicalName+ ' ' + option.displayName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-container>

<mat-checkbox [ngModel]="selectedNode.tagProperties.orderDescending.constructorValue$| async"
  (ngModelChange)="selectedNode.tagProperties.orderDescending.constructorValue$.next($event)">Descencing</mat-checkbox>
