app-right-section .mat-mdc-tab-header {
    --mdc-secondary-navigation-tab-container-height: 40px;
}

app-right-section .mdc-tab {
    min-width: 200px;

}

app-right-section .mat-mdc-tab-header {
    --mat-tab-header-label-text-font: "Work Sans", sans-serif;
    --mat-tab-header-label-text-tracking: 0em;
}

app-right-section {
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;
}
mat-tab-group{
    flex: 1 1 auto;
}


app-right-section .mat-mdc-tab-body-wrapper{
    flex: 1 1 auto;
}


app-right-section .mat-mdc-tab-body-content{
    display:flex;
}

.fetch-xml-content {
    background-color: cadetblue;
    display: flex;
flex:1 1 auto;
}

.fetch-result-content {
    background-color: darkgray;
    display: flex;
    flex:1 1 auto;
}